body {
	width: auto;
	background-color: #C8FE2E;
	font-family: 'Verdana', sans-serif;
	color: #000000;
	text-align: center;
}
header {
	padding-bottom: 5px;
	margin: -10px;
	text-align: left;
	background-color: #2E3B0B;
	color: #F4FA58;
	padding-top: 5px;
}
h1 {
	font-family: 'Anonymous Pro', Verdana, sans-serif;
	font-size: 20px;
	display: inline;
	padding-left: 7px;
}
form {
	display: inline;
}
#search_box {
	display: inline;
	width: auto;
	padding: 2px;
	background-color: #FFF;
	border-radius: 2px;
}
input[type=text] {
	width: 15%;
	font-family: 'Anonymous Pro', Verdana, sans-serif;
	background-color: transparent;
	border: 0px solid;
	font-size: 16px;
	padding-left: 5px;
}
input[type=text]:focus {
	outline: 0;
}
#search_button {
	display: inline;
}
#button {
	font-family: 'Anonymous Pro', Verdana, sans-serif;
	font-size: 18px;
	border-radius: 2px;
	background-color: #F4FA58;
	border: 1px solid #F4FA58;
	color: #000;
}
#button:focus {
	outline: 0;
}
#button:hover {
	background-color: transparent;
	color: #F4FA58;
}
#wrapper {
	position: relative;
	margin-top: 20px;
	border: 3px solid #86B404;
	box-shadow: #A5DF00 2px 2px;
	background: #F3F781;
	border-radius: 5px;
	font-size: 16px;
	height: 90%;
}
#content {
	margin: 0px;
}
img {
	width: 100%;
	margin-bottom: 0;
	display: block;
	border-radius: 2px;
}
.move {
	z-index: 1;
	width: 200px;
}
nav {
	font-family: 'Anonymous Pro', Verdana, sans-serif;
	position: relative;
	width: 170px;
	height: auto;
	top: -480px;
	margin-left: -40px;
	z-index: 1;
}
ul {
	list-style-type: none;

}
a {
	text-decoration: none;
}
#home {
	position: absolute;
	font-size: 14px;
	border: 5px solid #688A08;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	background: #2E3B0B;
	color: #F4FA58;
	transition: .3s;
	top: 50px;
	margin-left: 5px;
}
#home p {
	margin-top: 13px;
}
#home:hover {
	transform: scale(1.2);
}
#afla {
	position: absolute;
	top: 0;
	left: 90px;
	font-size: 15px;
	border: 5px solid #688A08;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	text-decoration: none;
	background: #2E3B0B;
	color: #F4FA58;
	/*word-wrap: normal;*/
	transition: .3s;
}
#afla:hover {
	transform: scale(1.2);
}
#afla p {
	margin-top: 20px;
}
#germ {
	position: absolute;
	top: 100px;
	font-size: 15px;
	border: 5px solid #688A08;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	text-decoration: none;
	float: left;
	background: #2E3B0B;
	color: #F4FA58;
	transition: .3s;
}
#germ p {
	margin-top: 27px;
}
#germ:hover {
	transform: scale(1.2);
}
#cont {
	position: absolute;
	top: 85px;
	left: 115px;
	font-size: 15px;
	border: 5px solid #688A08;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	text-decoration: none;
	background: #2E3B0B;
	color: #F4FA58;
	transition: .3s;
}
#cont p {
	margin-top: 25px;
}
#cont:hover {
	transform: scale(1.2);
}
#title {
	position: absolute;
	z-index: 1;
	top: 8px;
    left: 8px;
    font-size: 24px;
    font-family: 'Anonymous Pro', Verdana, sans-serif;
	border: 5px solid #F4FA58;
	background-color: #F4FA58;
	opacity: 0.9;
	text-transform:capitalize;
	font-weight: bold;
}
#latin {
	z-index: 1;
	position: absolute;
	left: 8px;
	top: 42px;
	font-size: 12px;
	border: 5px solid #F4FA58;
	background-color: #F4FA58;
	opacity: 0.9;
	text-transform:capitalize;
}
#eng {
	z-index: 1;
	position: absolute;
	left: 8px;
	top: 66px;
	font-size: 12px;
	border: 5px solid #F4FA58;
	background-color: #F4FA58;
	opacity: 0.9;
	text-transform:capitalize;
}
footer {
	background-color: #2E3B0B;
	position: absolute;
	width: 100%;
	color: #F4FA58;
	margin: -10px;
	margin-top: 10px;
}
footer a {
	color: #F4FA58;
}
footer a:hover {
	text-decoration: underline;
}
#gap {
	padding-left: 7px;
}
#mobile_menu {
	font-family: 'Anonymous Pro', Verdana, sans-serif;
	font-size: 18px;
	background-color: #F4FA58;
	margin-left: 7px;
	border: 1px solid #F4FA58;
	padding: 5px;
	float: left;
	border-radius: 2px;
	color: #000;
	display: none;
}

#mobile_menu:focus {
	outline: 0;
}
#mobile_menu:hover {
	background-color: transparent;
	color: #F4FA58;
}
#description {
	display: none;
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	width: 70%;
	overflow: auto;
	text-align: left;
	background-color: #F4FA58;
	opacity: 0.9;
	border: 5px solid #F4FA58;
}
.glut {
	position: absolute;
    top: 96px;
    left: 8px;
    z-index: 5;
	text-align: center;
}
#gluten_free_button {
	border: 3px solid #006600;
	border-radius: 3px;
	text-align: center;
	font-family: Impact, "sans-serif";
	width: 75px;
}
#upper_gluten_free {
	background-color: #006600;
	margin: auto;
	color: #FFF;
}
#lower_glutten_free {
	text-align: center;
	background-color: #FFF;
	color: #006600;
	display: block;
}
#gluten_polluted_button {
	border: 3px solid #e6e600;
	text-align: center;
	border-radius: 3px;
	font-family: Impact, "sans-serif";
	width: 75px;
}
#upper_gluten_polluted {
	display: block;
	margin: auto;
	background-color: #e6e600;
	color: #000;
	/*position: absolute;*/
}
#lower_glutten_polluted {
	display: block;
	background-color: #FFF;
	color: #000;
	margin: auto;
}
#gluten_button {
	border: 3px solid #e60000;
	border-radius: 3px;
	font-family: Impact, "sans-serif";
	width: 75px;
}
#upper_gluten {
	background-color: #e60000;
	color: #FFF;
	font-size: 140%;
	//position: absolute;
}
#lower_glutten {
	display: none;
}
.paleo_button {
	border-radius: 3px;
	font-family: Impact, "sans-serif";
	width: 75px;
	color: #fff;
	/*background-color: #006600;*/
	left: 8px;
	top: 146px;
	position: absolute;
}
#paleo_friendly {
	background-color: #006600;
	border: 3px solid #006600;
}
#not_paleo {
	background-color: #e60000;
	border: 3px solid #e60000;
}
#up_to_you {
	background-color: #e6e600;
	border: 3px solid #e6e600;
}

/* chrome */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	button {
		font-size: 14px;
	}
	footer {
		padding: 5px 0 20px 0;
	}
}
/* 150% */
@media screen and (max-width: 900px) 
{
	#collapse {
		display: block;
	}
	header {
		text-align: center;
	}
	nav {
		width: 100%;
		top: -150px;
		margin-top: 0px;
		margin-left: 0;
		/*margin-bottom: -10%;*/
	}
	#nav {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	#home {
		font-family: Verdana, "sans-serif";
		margin: 0;
		border-bottom: 0;
		border-radius: 0;
		width: 100%;
		height: 40px;
		font-size: 16px;
		top: 0;
		left: 0;
	}
	#home p {
		margin-top: 10px;
	}
	#afla {
		font-family: Verdana, "sans-serif";
		border-bottom: 0;
		border-radius: 0;
		top: 40px;
		left: 0;
		width: 100%;
		height: 40px;
	}
	#afla p {
		margin-top: 10px;
	}
	#germ {
		font-family: Verdana, "sans-serif";
		border-bottom: 0;
		border-radius: 0;
		top: 80px;
		left: 0;
		width: 100%;
		height: 40px;
	}
	#germ p {
		margin-top: 10px;
	}
	#cont {
		font-family: Verdana, "sans-serif";
		border-radius: 0;
		top: 120px;
		left: 0;
		width: 100%;
		height: 40px;
	}
	#cont p {
		margin-top: 10px;
	}
}